{% extends 'layout.html' %} 
{% block title %}
    <title>Главная страница</title> 
{% endblock %} 

{% block main %}
  <div class="container mt-5">
    <h1 class="text-center">Добро пожаловать!</h1>
    <p class="text-center">Выберите нужную страницу:</p>

    <div class="d-flex flex-column align-items-center">
      <a href="{% url 'renderApp:search_price' %}" class="btn btn-light mb-2">Поиск товаров по средней цене</a>
      <a href="{% url 'renderApp:money_exchange' %}" class="btn btn-light mb-2">Размен денег</a>
      <a href="{% url 'renderApp:objects_arrays' %}" class="btn btn-light mb-2">Массивы</a>
      <a href="{% url 'renderApp:programm_info' %}" class="btn btn-light mb-2">Я и моя образовательная программа</a>
    </div>
  </div>
{% endblock %}