{% load static %}
<nav>
  <ul class="nav nav-tabs card-header-tabs">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'renderApp:greet' path_value='Добрый день' %}"><img src="{% static 'renderApp/images/mountain.png' %}" height="40px" /></a>

    <li class="nav-item">
      <a class="nav-link" href="{% url 'renderApp:search_price' %}">Средняя цена</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="{% url 'renderApp:money_exchange' %}">Размен денег</a>
    </li>


    <li class="nav-item">
      <a class="nav-link" href="{% url 'renderApp:objects_arrays' %}">Массивы объектов</a>
    </li>


    <li class="nav-item">
      <a class="nav-link" href="{% url 'renderApp:programm_info' %}">Образовательная программа</a>
    </li>
  </ul>
</nav>
