{% extends 'layout.html' %}

{% block title %}
  <title>Моя образовательная программа</title>
{% endblock %}

{% block main %}
  {% load static %}
  <div class="container mt-5">
    <h1 class="text-center">Моя образовательная программа</h1>

    <div class="row mt-4">
      <!-- Блок информации о пользователе -->
      <div class="col-md-4">
        <h5>Я</h5>
        <img src="{% static user_info.photo %}" alt="Фото" class="img-fluid rounded-circle" width="150">
        <p><strong>ФИО:</strong> {{ user_info.name }}</p>
        <p><strong>Электронная почта:</strong> {{ user_info.email }}</p>
        <p><strong>Телефон:</strong> {{ user_info.phone }}</p>
      </div>

      <!-- Блок информации о программе -->
      <div class="col-md-8">
        <h5>Название программы</h5>
        <p>{{ user_info.program_name }}</p>

        <h5>Описание программы</h5>
        <p>{{ user_info.program_description }}</p>

        <h5>Руководитель</h5>
        <img src="{% static user_info.manager.photo %}" alt="Фото руководителя" class="img-fluid rounded-circle" width="150">
        <p><strong>ФИО:</strong> {{ user_info.manager.name }}</p>
        <p><strong>Электронная почта:</strong> {{ user_info.manager.email }}</p>
        
      </div>
    </div>

    <h5>Мои сокурсники</h5>
    <ul>
      {% for colleague in user_info.colleagues %}
        <li>
          <img src="{% static colleague.photo %}" alt="Фото сокурсника" class="img-fluid rounded-circle" width="100">
          <p><strong>ФИО:</strong> {{ colleague.name }}</p>
          <p><strong>Электронная почта:</strong> {{ colleague.email }}</p>
          <p><strong>Телефон:</strong> {{ colleague.phone }}</p>
        </li>
      {% endfor %}
    </ul>
  </div>

<!-- Навигационные ссылки -->
<div class="d-flex justify-content-center mt-4">
  <a href="{% url 'renderApp:index' %}" class="btn btn-secondary mx-2">На главную</a>
  <a href="{% url 'renderApp:money_exchange' %}" class="btn btn-secondary mx-2">назад</a>
</div>
{% endblock %}

